@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Black.otf);
    font-weight: 900;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Bold.otf);
    font-weight: 800;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Medium.otf);
    font-weight: 600;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Regular.otf);
    font-weight: 400;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Light.otf);
    font-weight: 200;
}
@font-face {
    font-family: "NotoSansKR";
    src: url(./NotoSans/NotoSansKR-Thin.otf);
    font-weight: 100;
}