.rightclickmenu {
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 0; left: 0;
    font-size: 16px;
    padding: 4px 0;
    border-radius: 3px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

.rightclickmenu td {
    padding: 5px 7px;
    background-color: transparent;
    white-space: nowrap;
}

.rightclickmenu td:first-child {
    text-align: right;
    font-weight: 600;
    border-right: 1px solid #bbb;
}

.rightclickmenu tr:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.rightclickmenu tr.bordered {
    border-bottom: 2px solid #bbb;
}