.rightclickmenu {
    visibility: hidden;
    background-color: white;
    position: absolute;
    top: 0; left: 0;
    font-size: 16px;
    padding: 3px 0;
    border-radius: 3px;
    font-weight: 700;
}

.rightclickmenu > hr {
    border-top: 1px solid #bbb; 
}

.rightclickmenu li {
    padding: 5px 10px;
    background-color: transparent;
    white-space: nowrap;
}

.rightclickmenu li:hover {
    background-color: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}